@import url(./header.css);
@import url(./style.css);
@import url(./footer.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.heroContainer{
    background-image: url(../Images/mm.png);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-position: center; 
    height: auto;
}
.heroCover{
background: linear-gradient(to right,rgba(5, 17, 36, 0.8),rgba(5, 23, 41, 0.7), rgba(10, 5, 15, 0.1));
  min-height: 100vh;
  height: auto;
  background-size: cover;
  position: relative;
}
.heroCont{
padding: 90px;
}
.collection{
    height: 30px;
    width: 270px;
    border-radius: 20px;
    align-items: center;
    align-content:center ;
    justify-content: center;
   backdrop-filter: blur(10px);
    color: var(--color-white);
    display: flex;
     gap: 8px;
     font-size: 15px;
     text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.collection i{
    font-size: 10px;
}
h1{
    color: var(--color-white);
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
h1 span{
    color: var( --color-primary-400);
}
.heroBtn{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    /* text-align: center; */
}
.firstBtn{
    display: inline-flex;
    height: 60px;
    width: 214.02px;
    background-color: var(--color-primary-600);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.firstBtn a{
    text-decoration: none;
    color: var(--color-white); 
}
.firstBtn i{
    margin-left: 10px;
}
.firstBtn:hover{
    background-color: var(--color-primary-500);
}
.secondBtn{
     background: transparent;
    height: 60px;
    border: 2px solid var(--color-white);
    backdrop-filter: blur(15px);
    width: 214.02px;
    border-radius: 10px ;
    color: var(--color-white);  
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-content: center;
}
.secondBtn a{
    text-decoration: none;
    color: var(--color-white);
}
.secondBtn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-white);
}
.para{
    color: var(--color-gray-300);
    max-width: 580px;
    line-height: 1.8rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Container{
    display: flex;
   
}
.stats{
    display: flex;
    width: 600px;
    border-top: 1px solid var(--color-gray-400);
    margin-top: 60px;
    gap: 60px;
    align-items: center;
}
.numbers{
    margin-top: 15px;
    border-right: 1px solid var(--color-gray-500);
    display: flex;
    flex-direction: column;
}
.numbers h1{
    color: var(--color-white);
    font-size: 40px;
}
.numbers p{
  color: var(--color-gray-600);
font-size: 15px;
font-weight: 600;
}
.numbers i{
    color: var(--color-amber-400);
     font-size: 15px; 
}
.last{
border-right: none;
}
.benefit{
    position: absolute;
    right: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.benefitChildA{
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}
.benefitIcon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(220, 150, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.benefitIcon i{
    color: var(--color-primary-500);
    font-size: 20px;
}
.benefitIconB{
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    background-color: rgba(0, 201, 80, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.benefitChildB{
     width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}
.benefitIconB i{
    color: var(--color-green-500);
}

.body{
    background-color: var(--color-gray-950);
    border-top: 1px solid var(--color-gray-700);
}
.perks{
    width: 90%;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 50px;
     display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.perk{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 20px;
}
.perk-icon{
    height: 48px;
    min-width: 48px;
    background-color: var(--color-primary-950);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}
.perk-icon i{
    color: var(--color-primary-400);
}
.perk h3{
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.perk p{
    color: var(--color-gray-400);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 3px;
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 400;
}
.featuredProducts{
    background-color: var(--color-gray-950);
    padding-bottom: 100px;
}
.products{
    display: flex;
    justify-content: space-between;
 padding: 30px;
    border-top: 1px solid var(--color-gray-700);
}
.first{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 30px;
}
.first h1{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
.first p{
    color: var(--color-gray-400);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.products a{
    color: var(--color-primary-500);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 1rem;
}
.product-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-desc p{
    color: var(--color-gray-400);
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.product-desc i{
    color: var(--color-amber-400);
    font-size: 10px;
}
.product-desc small{
    color: var(--color-gray-400);
}
.cards h3{
    color: var(--color-white);
    margin-top: 10px;
}
.price{
    color: var(--color-white);
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.price s{
    color: var(--color-gray-400);
}
.circles{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.black{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-black);
    border: 1px solid var(--color-gray-700);
}
.brown{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-accent-900);
    border: 1px solid var(--color-gray-700);
}
.milk{
  width: 15px;
    height: 15px;
    border-radius: 50%;  
    background-color: var( --color-red-100);
    border: 1px solid var(--color-gray-700);
}
.red{
    width: 15px;
    height: 15px;
    border-radius: 50%;  
    background-color: var( --color-primary-400);
    border: 1px solid var(--color-gray-700)
}
.imageContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
    gap: 20px;
}
.image{
    width: 100%;
    height: 381.33px;
    overflow: hidden;
    border-radius: 10px; 
    position: relative;   
}
.cards .image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.4s ease;
}
 .image:hover img{
    transform: scale(1.1);
}
 .picture{
    position: relative;
    overflow: hidden;
}
.cards .picture .image-two{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.cards .picture .image-two:hover{
opacity: 1;
transform: scale(1.05);
}
.picture .box{
    position: absolute;
    display: flex;
    top: 20px;
    flex-direction: column;
    gap: 10px;
} 
.box-one{
    height: 24px;
    width: 77.58px;
    background-color: var(--color-red-500);
    border-radius: 20px;
    margin-left: 10px;
}
.discount{
    margin-left: 10px;
    color: var(--color-white);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
.box-two{
    height: 24px;
    width: 77.58px;
    background-color: var(--color-amber-500);
    border-radius: 20px;
    margin-left: 10px;
}
.discount-text{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 2px;
}
.image .green{
    position: absolute;
    top: 20px;
    background-color: var(--color-green-500);
    width: 46.11px;
    height: 24px;
    color: var(--color-white);
    text-align: center;
    margin-left: 10px;
    border-radius: 20px;
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.shoe-box{
    display: flex;
    top: 20px;
    position: absolute;
    flex-direction: column;
    gap: 10px;
}
.shoe-box .box-one{
    background-color: var(--color-green-500);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--color-white);
}
.swet{
     position: absolute;
     top: 20px;
    background-color: var(--color-red-500);
    width: 46.11px;
    height: 24px;
    color: var(--color-white);
    text-align: center;
    margin-left: 10px;
    border-radius: 20px;
    align-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.cart-actions{
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
    justify-self: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.8s ease;
}
.add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 214px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.love{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.cards .image:hover .cart-actions{
    opacity: 1;
    transform: scale(1.05);
}

.present{
    color: var(--color-red-700);
}
.CategorySection{
    background-color: var( --color-gray-900);
}
.categoryHead{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 90px;
   gap: 15px;
}
.categoryHead h3{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 800;
}
.categoryHead p{
    color: var(--color-gray-400);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
 .categoryImages{
    display: grid;
     grid-template-columns: repeat(3, 1fr) ;
    /* grid-template-rows: repeat(3, 1fr) ;  */
    gap: 25px;
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent 40%, rgba(6, 32, 70, 0.7));
}
.categoryImages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
 .clothingImage{
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    grid-row: 1/3 ; 
}
 .accessoryImage{ 
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    border-radius: 18px;
 }
.footwearImage{
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}
.bagImage{
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}
.jewelryImage{
    overflow: hidden;
    position: relative;
    border-radius: 18px;
}
.watchImage{
    position: relative;
    overflow: hidden;
    border-radius: 18px;
} 
.categoryImages :hover img{
    transform: scale(1.08);
}
.categoryImages-text{
 position: absolute;
 display: flex;
 flex-direction: column;
 gap: 8px;
 bottom: 40px;
 left: 20px;
 color: var(--color-white);
} 
.categoryImages-text span{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.categoryImages :hover .categoryImages-text span{
    opacity: 1;
}
.NewarrivalsSection{
    padding-top: 80px;
}
.newarrivalsHead{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.justdropped{
display: flex;
flex-direction: column;
}
.firstdrop{
    display: flex;
    gap: 5px;
}
.C-green{
    height: 8px;
    width: 8px;
    background-color: var(--color-green-500);
    border-radius: 10px;
    margin-top: 5px;
}
.firstdrop p{
    color: var(--color-green-500);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.new{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new h2{
    color: var(--color-white);
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.new p{
    color: var(--color-gray-400);
    font-size: 1.1rem;
    font-weight: 400;
}
.newarrivalsHead span{
    color: var(--color-primary-500);
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.newarrivalsImages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin:0 auto;
    gap: 20px;
    padding-bottom: 45px;
}
.SalesSection{
    background: linear-gradient(to right, var(--color-primary-600), var(--color-primary-800));
}
.salesHead{
    display: flex;
    justify-content: space-between;
    padding: 90px;
}
.round-box{
    width: 179.77px;
    height: 32px;
    border-radius: 20px;
    background-color: var(--color-primary-400);
    display: inline flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.salesHead-Left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.salesHead-Left h2{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.2rem;
}
.salesHead-Left p{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;

}
.salesHead-Right{
    width: 177.25px;
    height: 48px;
    background-color: var(--color-white);
    display: inline-flex;
    justify-content:center ;
    align-items: center;
    border-radius: 10px;
}
.salesHead-Right a{
    text-decoration: none;
    color: var(--color-primary-600);
    font-size: 1.2rem;
    font-weight: 600;
}
.salesImageCont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto; 

}
.salesCard{
    height: 100%;
    width: 100%;
    background-color: var(--color-gray-900);
    border-radius: 10px;
}
.salesCard .image{
    width: 100%;
    height: 360px;
    position: relative;
    width: 90%;
    margin: auto;
   margin-top: 14px;
    border-radius: 10px;
    overflow: hidden;
}
.salesCard .image img{
    width: 100%;
    height: 100%;
     border-radius: 10px;
     object-fit: cover;
 transition: transform 0.5s ease;

}
.salesCard .image:hover img{
    transform: scale(1.08);
}
.salesCards .picture{
    position: relative;
    overflow: hidden;
}
.salesCard .picture .image-two{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.salesCard .picture .image-two:hover{
opacity: 1;
transform: scale(1.05);
}
.salesCard .box{
    position: absolute;
    top: 20px;
}
.salesCard .cart-actions{
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
   left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.8s ease;
}
.salesCard .add-cart{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
     width: 190px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.salesCard .image:hover .cart-actions{
    opacity: 1;
    transform: scale(1.05);
}
.salesCard-texts{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 13px;

}
.salesCard-texts h3{
    color: var(--color-white);
    
}
.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 35px;

}
.time-box{
    text-align: center;
    margin-bottom: 100px;
}
.number{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-600);
    border-radius: 10px;
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}
.time-box p{
    color: var(--color-white);
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.colon{
    color: var(--color-white);
    font-size: 30px;
    margin-bottom: 25px;
}
.customerSection{
background-color: var(--color-gray-950);
}
.customersectHead{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-self: center; */
    margin: auto;
    width: 90%;
}
.customersectHead h1{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
   padding-top: 90px;
   align-self: center;
   /* margin-left: 40px; */
}
.customersectHead p{
    color: var(--color-gray-400);
    word-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    
    align-self: center;
}
.reviewcardCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.reviewcards{

    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-gray-800);
    border-radius: 10px;
    padding: 20px;
    color: var(--color-gray-300);
}
.stars{
    color: var(--color-yellow-400);
    font-size: 15px;
    display: flex;
    gap: 8px;
}
.testimony{
    color: var(--color-gray-300);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.customer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.customerdetails{
    display: flex;
    gap: 10px;
}
.customerdetails img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.customerinfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.customerinfo h4{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.customerinfo p{
    color: var(--color-gray-500);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.verifystatus{
    display: flex;
    width: 80px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green-900);
    border-radius: 15px;
    font-size: 13px;
    color: var(--color-green-500);
}
.verifystatus span{
    display: flex;
    gap: 5px;
    font-weight: 600;
}
.line{
width: 90%;
margin: 60px auto;
border-top: 1px solid var(--color-gray-700);
}
.customerreviewBottom{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    gap: 30px;
    padding-bottom: 90px;
}
.trust{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-gray-400);
}
.trust i{
    font-size: 25px;
}
.trust span{
    font-size: 1.25rem;
    font-weight: 500;
}
.plusbackgroundSection{
   background-color: var(--color-gray-900);
    background-image:
    url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33V47M33 40H47' stroke='white' stroke-opacity='0.22' stroke-width='1.5'/%3E%3C/svg%3E");
    background-size: 40px;
    padding-bottom: 90px;
}
.plusCont{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    padding-top: 60px;
    width: 90%;
    margin: auto;
    gap: 40px;
}
.plusRight{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.plusRight h2{
    color: var(--color-white);
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
.sign{
    color: var(--color-gray-300);
    max-width: 580px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
}
.emailsubCont{
    display: flex;
    gap: 20px;
}
.emailbox{
    width: 425.61px;
    height: 58px ;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid var(--color-gray-700);
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    color: var(--color-gray-400);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.subscribebox{
    background-color: var(--color-primary-500);
    width: 142.39px;
    height: 58px;
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.subscribebox:hover{
    background-color: var(--color-primary-700);
}
.privacy{
    color: var(--color-gray-400);
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.plusLeft{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.plusLeft-card{
    /* width: 280px;
    height: 184px; */
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}
.plusLeft-card h4{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.plusLeft-card p{
    color: var(--color-gray-500);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.plusLeft-iconCont1{
    width: 48px;
    height: 48px;
    background-color: var(--color-primary-950);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.plusLeft-iconCont1 i{
    color: var(--color-primary-400);
    font-size: 20px;
}
.plusLeft-iconCont2{
    width: 48px;
    height: 48px;
    background-color: var(--color-accent-900);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plusLeft-iconCont2 i{
    color: var(--color-accent-500);
    font-size: 20px;
}
.plusLeft-iconCont3{
    width: 48px;
    height: 48px;
    background-color: var(--color-green-900);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plusLeft-iconCont3 i{
    color: var(--color-green-500);
    font-size: 20px;
}
.plusLeft-iconCont4{
    width: 48px;
    height: 48px;
    background-color: var(--color-blue-950);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plusLeft-iconCont4 i{
    color: var(--color-blue-600);
    font-size: 20px;
}
.newsletter{
    background-color: var(--color-gray-900);
    border-bottom: 1px solid var(--color-gray-700);
}
.news{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right h3{
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}
.right p{
    color: var(--color-gray-400);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.left{
    display: flex;
    gap: 10px;
}
.email{
    width: 309.61px;
    height: 50px;
    background-color: var(--color-gray-800);
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    color: var(--color-gray-500);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: 1px solid var(--color-gray-700);
    border-radius: 10px;
}
.sub{
    background-color: var(--color-primary-500);
    width: 126.39px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.sub:hover{
    background-color: var(--color-primary-700);
}











/* MEDIA SCREENS  SECTION*/
@media screen and (max-width:1023px) {
    .heroCont{
        padding: 70px 10px;
    }
    h1{
        font-size: 45px;
    }
    .para{
         font-size: 1.1rem;
    }
    .benefit{
        display: none;
    }
    .imageContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        gap: 15px;
    }
    .perks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }
    .newarrivalsImages{
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }
    .categoryImages{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        gap: 20px;
    }
    .clothingImage{
        grid-column: 1/3;
    }
    .salesImageCont{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       width: 97%;
    }
    .reviewcardCont{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 95%;
    }
    .plusCont{
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
    }
    .news{
        flex-direction: column;
        gap: 20px;
        width: 95%;
    }
}
/* MEDIA SCREEN OF 767PX */
@media screen and (max-width:767px) {
    .reviewcardCont{
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* MOBILE MEDIA SCREEN OF 640PX*/
@media screen and (max-width:640px) {
    .heroBtn{
        flex-direction: column;
        gap: 20px;
    }
    .firstBtn{
        width: 100%;
    }
    .secondBtn{
        width: 100%;
    }
    .perks{
        display: grid;
        grid-template-columns: 1fr;
    }
    .products{
    flex-direction: column;
    align-items: center;
    gap: 5px;
   }
   .products a{
    margin-left: 30px;
    margin-top: 5px;
   } 
   .imageContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .cards .image{
        height: 550px;
    }
    .newarrivalsHead{
        flex-direction: column;
        gap: 10px;
    }
    .newarrivalsHead span{
           margin-left: 50px;
    }
    .newarrivalsImages{
        grid-template-columns: 1fr;
    }
    .salesHead{
        flex-direction: column;
        margin-left: 30px;
        gap: 10px;
    }
    .cart-actions{
        width: 100%;
    justify-content: center;
    }
    .add-cart{
  width: 350px;
    }
   .categoryImages{
    grid-template-columns: 1fr;
   }
   .clothingImage{
    grid-column: auto;
   }
   .salesImageCont{
    grid-template-columns: 1fr;
   }
   .salesCard .cart-actions{
    width: 100%;
    justify-content: center;
     right: 10px;
   }
  .salesCard .add-cart{
    width: 300px;
  }
  .plusCont{
    display: flex;
    flex-direction: column;
  }
 .plusRight h2{
   font-size: 30px;
   text-align: center;
 }
 .sign{
    font-size: 20px;
    text-align: center;
   /* width: 460px; */
 }
 .privacy{
    font-size: 15px;
    text-align: center;
 }
  .emailsubCont{
    flex-direction: column;
  }
  .emailbox{
    width: 100%;
  }
  .subscribebox{
    width: 100%;
  }
  .plusLeft{
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
}