:root{
    --color-primary-50: #fdf4ff;
    --color-primary-100: #fae8ff;
    --color-primary-200: #f5d0fe;
    --color-primary-300: #f0abfc;
    --color-primary-400: #e879f9;
    --color-primary-500: #d946ef;
    --color-primary-600: #c026d3;
    --color-primary-700: #a21caf;
    --color-primary-750: rgb(198, 43, 212);
    --color-primary-800: #86198f;
    --color-primary-900: #701a7520;
    --color-primary-950: #2e0e30;
    --color-accent-200: #fed7aa;
    --color-accent-400: #fb923c;
    --color-accent-500: #f97316;
    --color-accent-900: #7c2d12;
    --color-red-100: #ffe2e2;
    --color-red-400: #ff6467;
    --color-red-500: #fb2c36;
    --color-red-700: #c10007;
    --color-red-900: #82181a;
    --color-amber-100: #fef3c6;
    --color-amber-400: hsl(44, 100%, 50%);
    --color-amber-500: oklch(76.9% .188 70.08);
    --color-amber-700: oklch(55.5% .163 48.998);
    --color-amber-900: oklch(41.4% .112 45.904);
    --color-yellow-400: oklch(85.2% .199 91.936);
    --color-green-100: oklch(96.2% .044 156.743);
    --color-green-400: oklch(79.2% .209 151.711);
    --color-green-500: rgb(0, 201, 80);
    --color-green-600: rgb(0, 166, 62);
    --color-green-700: rgb(0, 130, 53);
    --color-green-900: rgb(13, 84, 43);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-400: oklch(70.7% .165 254.624);
    --color-blue-500: oklch(62.3% .214 259.815);
    --color-blue-600: oklch(54.6% .245 262.881);
    --color-blue-900: #1c398e;
    --color-blue-950: #1c398e50;
    --color-gray-50: #f9fafb;
    --color-gray-50: #f9fafb;
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: #e5e7eb;
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-400: rgb(153, 161, 175);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: rgb(54, 65, 83);
    --color-gray-800: rgb(30, 41, 57);
    --color-gray-900: rgb(16, 24, 40);
    --color-gray-950: #030712;
    --color-grayt-950: #030712fe;
    --color-black: #000;
    --color-white: rgb(255, 255, 255);
}